.cards{
	height: auto;
	border-radius: 20px;
	padding: 20px 20px;
	/*border: 3px solid #ff4d4d;*/
	font-family: Arial;
	margin: 20px;
	transition: all .1s ease;
	z-index: 10;
      }
      .cards:hover{
	transform: scale(1.03,1.05);
	text-decoration: none;
      }
      .warning-card{
	background-color: #f00;
	box-shadow: 0px 0px 0px 1px #c00d0d;
      }
      
      .success-card{
	background-color: rgb(57, 218, 57);
	box-shadow: 0px 0px 0px 1px #11c730;
      }
      .info-card{
	background-color: rgb(104, 104, 255);
	box-shadow: 0px 0px 0px 1px #430dc0;
      }
      .dark-card{
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 0px 0px 1px #2b2b2b;
      }
      .card-title{
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
      }
      .card-cont{
	color: #eee;
	font-size: 17px;
	font-family: Arial;
      
      }
      .close-card{
        color: #eee;
        position:sticky;
        display: block;
        float: right;
        cursor:pointer;
        transition: transform .1s ease;
    }
    .close-card:hover{
        transform: scale(1.3,1.3);
    }